.register-background img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
  .register-detail {
    position: absolute;
    background-color: white;
    width: 35%;
    height: 540px;
    top: 6%;
    left: 28%;
  }
  form {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 38%;
    left: 26%;
    top: 6%;
    padding: 4% 4% 2% 4%;
  }
  .register-detail-img {
    text-align: center;
  }
  form h2 {
    text-align: center;
  }
  .content input {
    margin: 2% 0;
    padding: 2%;
    width: 92%;
    border: 1px solid #cac1d8;
    border-radius: 4px;
  }
  form button {
    margin: 4% 0 0 0;
    width: 100%;
    padding: 2%;
    height: 40px;
    background-color: #9453ff;
    border: 1px solid #cac1d8;
    cursor: pointer;
    color: white;
    border-radius: 4px;
  }
  form p {
    text-align: center;
  }
  form label {
    color: #554766;
    font-size: 14px;
  }
  /* .content{
    width: 80%;
    margin: auto;
  } */
  